@import "seattletimes";
@import "flexbox";

@aspect-ratio: 7/10;

body {
  max-width: 960px;
  margin: auto;
  font-family: @df-sans;
}

.container, .buttons {
  .display-flex();
}

.button {
  .flex(1);
  margin: 10px;
  padding: 10px;
  padding-top: 12px;
  text-align: center;
  color: @df-dark-gray;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  transition: background .1s linear;

  &[data-region="americas"] {
    background: lighten(#2384c6, 20%);
  }
  &[data-region="ema"] {
    background: lighten(#524fa2, 20%);
  }
  &[data-region="asia"] {
    background: lighten(#2a9964, 20%);
  }

  &:hover, &.selected {
    color: white;

    &[data-region="americas"] {
      background: #2384c6;
    }
    &[data-region="ema"] {
      background: #524fa2;
    }
    &[data-region="asia"] {
      background: #2a9964;
    }
  }
}

.map-container {
  .flex(2);
}

.info-container {
  .flex(1);
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;

  .hed {
    font-family: @df-serif;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
  }
  .loophole {
    padding-top: 10px;
  }
  .previous, .next {
    width: 49%;
    display: inline-block;
    font-size: 12px;
    color: @df-dark-gray;
    cursor: pointer;
    transition: color .1s linear;

    .fa {
      font-size: 20px;
    }
    .label {
      vertical-align: top;
      line-height: 22px;
    }
    .inner {
      display: inline-block;
    }

    &:hover {
      color: @df-middle-gray;
    }
  }
  .previous {
    .label {
      padding-left: 3px;
    }
  }
  .next {
    text-align: right;

    .label {
      padding-right: 3px;
    }
  }

  .bars {
    padding: 20px 0;
  }

  .bar {
    height: 20px;

    &.microsoft {
      margin-bottom: 5px;
    }
  }
}

.asia {
  .bar.microsoft {
    background: #2a9964;
  }
  .bar.local {
    background: lighten(#2a9964, 40%);
  }
}
.ema {
  .bar.microsoft {
    background: #524fa2;
  }
  .bar.local {
    background: lighten(#524fa2, 40%);
  }
}
.americas {
  .bar.microsoft {
    background: #2384c6;
  }
  .bar.local {
    background: lighten(#2384c6, 40%);
  }
}

.aspect-ratio-outer {
  margin: auto;
  position: relative;

  @media @mobile {
    width: 100%;
    padding: 0;
  }

  .aspect-ratio-inner {
    padding-bottom: percentage(@aspect-ratio);
    position: relative;
  }

  leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:not([ready]) {
      display: none;
    }
  }
}

.leaflet-marker-icon {
  border-radius: 50%;
  border: none !important;
  width: 18px !important;
  height: 18px !important;

  .div-label {
    color: white;
    text-align: center;
    display: none;
  }

  &.americas {
    background: #2384c6; 
  }
  &.ema {
    background: #524fa2; 
  }
  &.asia {
    background: #2a9964;
  }
  &.highlighted {
    background: #da2128;
    z-index: 99999 !important;
    width: 26px !important;
    height: 26px !important;
    line-height: 28px;
    font-size: 18px;
    font-family: @df-serif;

    .div-label {
      display: block;
    }
  }
}
