<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div class="buttons">
        <div class="button" data-region="americas">Americas</div>
        <div class="button" data-region="ema">Europe, Middle East, Africa</div>
        <div class="button" data-region="asia">Asia</div>
      </div>

      <div class="container">
        <div class="map-container aspect-ratio-outer">
          <div class="aspect-ratio-inner">
            <leaflet-map lat="25" lng="5" zoom=1>
              <map-options>
                { "maxZoom": 6 }
              </map-options>
              <tile-layer id="tiles" layer="cartoPositron"></tile-layer>
            </leaflet-map>
          </div>
        </div>

        <div class="info-container">
          <i class="fa fa-hand-o-up"></i> Choose a region.
        </div>

      </div>
    </responsive-child>

    <script>
      <%
        var data = {};
        json.MicrosoftTaxDataWorkingCopy_MoneyTrail.forEach(function(row) {
          if (!data[row.Region]) data[row.Region] = [];
          data[row.Region].push(row)
        });
      %>
      var taxData = <%= JSON.stringify(data) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
